name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build and Test
        uses: brightdigit/swift-build@v1.4.2
        with:
          scheme: KSwitch
          xcode: /Applications/Xcode_26.2.app
